.wrap{
    flex: 1;
    width: 70%;
    margin: 0px auto;
    margin-bottom: 25px;
    .brief{
       text-align: center;
       icons{
            margin-bottom: 8px;
            color:red;
       }
       span{
           width:100px;
       }
       h2{
         padding: 12px 0px;
         font-size: 1.5em;
       }
       img{
          width: 25%;
          margin: 20px;
          height: 30%;
          border-radius: 10px;
       }
       ul{
        display: flex;
        justify-content: center;
         li{
            padding: 3px 10px;
            background: rgba(87, 199, 255, 0.1);
            margin: 6px 5px;
            border-radius: 3px;
         }      
       }
       p{
           
            text-align: left;
            font-size: 1.1em;
            width: 75%;;
            margin:0 auto;
            padding:12px 0;
            line-height: 1.7;
            color: black;
            pp{
                color:#B3A369;
            }
            divlink{
                color: -webkit-link;
            }
        }

      
    }

    // .work{
    //     text-align: center;
    //     padding-top: 40px;
    //     padding-bottom: 25px;
    //     .title{
    //       h3{
    //         font-size: 30px;
    //         padding-bottom: 12px;
    //         color: rgba(0,0,0,.8);
    //         font-weight: 400;
    //       }
    //       p{
    //         color: rgba(0, 0, 0, 0.7);
    //       }
    //     }
    // }
}